.navbar{
    padding:10%;
    background: #00000090;
    box-shadow: 20px 20px 50px 15px hsl(199.9deg 100% 50.8%);
}

.container_nav {
position: fixed;
    top: 2%;
    z-index: 40;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 1rem;
    align-items: center;
}

#navbarCollapse{
    flex-grow: 0;
}

.navbar-brand img{
    padding: 1%;
    width: 200px;
    object-fit: contain;
}
.card-bg-dark {
    background-color: #00000080 !important;
    color: #fff;
    margin-top: 9%;
    padding: 25%;
    border-radius: 5%;
    box-shadow: 20px 20px 50px 15px hsl(199.9deg 100% 50.8%);
}
.video-background{
    min-width: 100%;
    min-height: 100%;
    position: fixed;
}
.btn-outline-light:hover{
    box-shadow: 20px 20px 50px 15px hsl(199.9deg 100% 50.8%);
}
